header{
    margin-left: 25%;
}

.row1{
   display: flex;
   flex-direction: row; 
}
.row1 .block2{
    margin-left: 29%;
}
.block1{
    margin-left: 12%;
}
.row2{
    display: flex;
    flex-direction: row;
}
.row2 .block4{
   margin-left: 29%; 
}